fastapi
uvicorn[standard]
python-dotenv
python-multipart

langchain
langchain-google-genai
langchain-pinecone
langchain-text-splitters

pinecone
supabase

pdfplumber
python-docx
python-pptx
pandas
openpyxl
