fastapi
uvicorn[standard]
python-multipart
python-dotenv

langchain-community
langchain-core
langchain-text-splitters
langchain-google-genai

pinecone
langchain-pinecone
google-generativeai

langchain-pymupdf4llm
unstructured[csv,docx,pptx,xlsx]
markdown
jq